%link(rel="stylesheet" type="text/css" href="/style.css")

%h1 Create Buy Order
%br

=haml :'message_template', :locals => { :info => info }

%form( action="/createBuyOrder" method="POST" )
  %table#table_new
    %tr
      %td
        %label Itemname
      %td
        %input(type="text" name="item_name" )
    %tr
      %td
        %label Max. Price
      %td
        %input(type="text" name="max_price")
    %tr
      %td{:colspan => 2}
        %input(type="submit" value="Create")