%link(rel="stylesheet" type="text/css" href="/style.css")

%h1 Reset Password
%br

=haml :'message_template', :locals => { :info => info }

%form( action="/forgot_password" method="POST" )
  %table#table_new(style="width:auto;")
    %tr
      %td
        %label Enter your e-mail address:
        %input(type="text" name="email")
    %tr
      %td
        %input(type="submit" value="Send")