%link(rel="stylesheet" type="text/css" href="/style.css")

%h2 You already have a similar item called "#{new_item.name}"
%br
%h3 Do you want to merge these items into one?

%br

%form( action="/item/#{new_item.id}" method="GET" )
  %input(type="submit" value="No, keep them separate")

%p

%form( action="/item/#{new_item.id}/merge" method="POST" )
  %input(type="submit" value="Yes, please merge them")
