%link(rel="stylesheet" type="text/css" href="/style.css")


%h1 Create Item
%br

//SHOW MESSAGES AND ERRORS
-if info != nil
  %table#table_new
    -if (info.split(" ~ ").first()=="error")
      -info = info.split(" ~ ").last()
      %td
        %img{:src => "icons/error.png"}
      %td
        %h2 #{info}
    -else
      -info = info.split(" ~ ").last()
      %td
        %img{:src => "icons/success.png"}
      %td
        %h4 #{info}
  %br


%form( action="/createItem" method="POST" )
  %table#table_new
    %tr
      %td
        %label Name
      %td
        %input(type="text" name="name" )
    %tr
      %td
        %label Price
      %td
        %input(type="text" name="price")
    %tr
      %td
        %label Quantity
      %td
        %input(type="text" name="quantity")
    %tr
      %td
        %label Description
      %td
        %textarea(cols="50" rows="4" name="description")
    %tr
      %td{:colspan => 2}
        %input(type="submit" value="Create")