%link(rel="stylesheet" type="text/css" href="/style.css")

%h1 Create Item

- if info != nil
  %h2 #{info}

%form( method="POST" )
  %label Name
  %input(type="text" name="name" )
  %p
  %label Price
  %input(type="text" name="price")
  %p
  %input(type="submit" value="Create")