%link(rel="stylesheet" type="text/css" href="/style.css")


%h1 Create Item
%br

//SHOW MESSAGES AND ERRORS
-if info != nil and info != ""
  -messages = info.split"~"
  -messages.delete_if{ |s| s.strip == "" }
  %table#table_new
    -while(!messages.empty?)
      %tr
        -type = messages.delete_at(0)
        -type = type.strip

        -if type =="error"
          -text = messages.delete_at(0)
          %td
            %img{:src => "icons/error.png"}
          %td
            %h2 #{text}
        -elsif type == "note"
          -text = messages.delete_at(0)
          %td
            %img{:src => "icons/note.png"}
          %td
            %h4 #{text}
        -else
          %td{:colspan => 2}
            %h4 #{text}

  %br


%form( action="/createItem" method="POST" )
  %table#table_new
    %tr
      %td
        %label Name
      %td
        %input(type="text" name="name" )
    %tr
      %td
        %label Price
      %td
        %input(type="text" name="price")
    %tr
      %td
        %label Quantity
      %td
        %input(type="text" name="quantity")
    %tr
      %td
        %label Description
      %td
        %textarea(cols="50" rows="4" name="description")
    %tr
      %td{:colspan => 2}
        %input(type="submit" value="Create")