%link(rel="stylesheet" type="text/css" href="/style.css")


%h1 Create Item
%br

-if info != nil
  %h2 #{info}
  %br


%form( method="POST" )
  %table#table_new
    %tr
      %td
        %label Name
      %td
        %input(type="text" name="name" )
    %tr
      %td
        %label Price
      %td
        %input(type="text" name="price")
    %tr
      %td
        %label Quantity
      %td
        %input(type="text" name="quantity")
    %tr
      %td{:colspan => 2}
        %input(type="submit" value="Create")