%link(rel="stylesheet" type="text/css" href="/style.css")

%h1 Create Item
%br

- if info != nil
  %h2 #{info}
  %br

%form( method="POST" )
  %label Name
  %input(type="text" name="name" )
  %p
  %label Price
  %input(type="text" name="price")
  %p
  %label Quantity
  %input(type="text" name="quantity")
  %p
  %input(type="submit" value="Create")