%link(rel="stylesheet" type="text/css" href="/style.css")
%h1 Login
%br

//SHOW MESSAGES AND ERRORS
-if info != nil
  %table#table_new
    -if (info.split(" ~ ").first()=="error")
      -info = info.split(" ~ ").last()
      %td
        %img{:src => "icons/error.png"}
      %td
        %h2 #{info}
    -else
      -info = info.split(" ~ ").last()
      %td
        %img{:src => "icons/success.png"}
      %td
        %h4 #{info}
  %br

%form( action="/login" method="POST" )
  %table#table_new(style="width:auto;")
    %tr
      %td
        %label Username:
        %input(type="text" name="username" value="Username" onfocus="this.value=''")
    %tr
      %td
        %label Password:&nbsp
        %input(type="password" name="password"value="Password" onfocus="this.value=''")
    %tr
      %td
        %input(type="submit" value="Login")
        or
        %a{:href => "/register"} Register
    %tr
      %td
        %a{:href => "/forgot_password"} Forgot Password
