%link(rel="stylesheet" type="text/css" href="/design.css")

-#Links
%a{:href => "/login"} Login
%a{:href => "/register"} Register

-#List of all Items, for each user a new Table
-for user in users
  %table{:border => 1}
    %tbody
      %tr
        %th Item
        %th Value
        %th Active
        %th Owner
    - for item in user.items
      %tr
        %td #{item.name}
        %td #{item.price}
        %td
          - if item.active
            %p yes
          - else
            %p no
        %td  #{item.owner}
%p