%link(rel="stylesheet" type="text/css" href="/style.css")

If you take part in this nice trading site, please login or register:

%p

%a{:href => "/login"} login

%p


%a{:href => "/register"} register