%link(rel="stylesheet" type="text/css" href="/style.css")

%h1 Register
%br

=haml :'message_template', :locals => { :info => info }

%h3 Username can be 3 to 12 characters.
%h3 Password must have at least 4 characters and there must be at least one uppercase letter, one lowercase letter and one number.

%form( action="/register" method="POST" )
  %table#table_new(style="width:auto;")
    %tr
      %td
        %label Enter Username:
      %td
        %input(type="text" name="username" id="username_register")
    %tr
      %td
        %label Enter E-Mail:
      %td
        %input(type="text" name="email" id="email_register")
    %tr
      %td
        %label Enter Password:
      %td
        %input(type="password" name="password" id="password_register")
    %tr
      %td
        %label Confirm Password:
      %td
        %input(type="password" name="password_conf" id="password_conf_register")
    %tr
      %td{:colspan => 2}
        %input(type="submit" value="Register")

