%link(rel="stylesheet" type="text/css" href="/style.css")

%h1 Reset password
%br

=haml :'message_template', :locals => { :info => info }

%h3 Password must have at least 4 characters and there must be at least one uppercase letter, one lowercase letter and one number.

%form( action="/reset_password/#{hash}" method="POST" )
  %table#table_new(style="width:auto;")
    %tr
      %td
        %label Enter New Password:
      %td
        %input(type="password" name="password")
    %tr
      %td
        %label Confirm New Password:
      %td
        %input(type="password" name="password_conf")
    %tr
      %td{:colspan => 2}
        %input(type="submit" value="Submit")
