%link(rel="stylesheet" type="text/css" href="/style.css")


%h1 Reset password
%br

-if info != nil
  %table#table_new
    %td
      %img{:src => "icons/error.png"}
    %td
      %h2 #{info}
  %br

%h3 Password must have at least 4 characters and there must be at least one uppercase letter, one lowercase letter and one number.
%br
%form( action="/rset_password" method="POST" )
  %table#table_new(style="width:auto;")
    %tr
      %td
        %label Enter New Password:&nbsp
        %input(type="password" name="password")
    %tr
      %td
        %label Confirm New Password:
        %input(type="password" name="password_conf")
    %tr
      %td
        %input(type="submit" value="Submit")
